
a:link    {
  color:green;
  background-color:transparent;
  text-decoration:none;
}
a:visited {
  color:pink;
  background-color:transparent;
  text-decoration:none
}
a:hover   {
  color:red;
  background-color:transparent;
  text-decoration:underline
}
a:active  {
  color:yellow;
  background-color:transparent;
  text-decoration:underline
}

#footer {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }

#mainPage {
  background-image: url("pictures/myPage.JPG");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  height: 50em;
  opacity: 0.8;

}
